<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./partials/header.ejs') %> 
</head>
<body>

<!-- Navigation section-->
<%- include('./partials/main-nav.ejs') %> 


<!-- Main Content -->
  <div class="container">
    <h1>Welcome to the <%= title %> page</h1>
    <p>Welcome to <%= title %></p>
  </div>

<footer>
<%- include('./partials/footer.ejs') %> 
</footer>

 <!-- JavaScript Section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>

</body>
</html>